{% extends "base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="form-group row my-5">
        <div class="col-2">
            <label for="sheet">Select a sheet:</label>
            <select class="form-control" id="sheet">
                <option></option>
                {% for sheet in sheets %}
                <option>{{ sheet }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" id="tableHeader">Sheet</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" width="100%" cellspacing="0" id="dbTable">
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instructions</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Overview</b> <br>
                    Script description
                </p>
                <hr />
                <p><b>How to use</b> <br>
                    How to <br>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/fc-4.2.2/fh-3.3.2/datatables.min.css" rel="stylesheet"/>
 
<script src="https://cdn.datatables.net/v/bs4/dt-1.13.4/fc-4.2.2/fh-3.3.2/datatables.min.js"></script>

<script>
    // Fetch functionality for db
    $('#sheet').on('change', async function () {
        let sheet = new FormData()
        sheet.append('sheet', this.value)
        const response = await fetch('', {
            method: 'POST',
            body: sheet
        });

        if (response.ok) {
            const data = await response.json()

            // Destroy old DataTable and empty the HTML
            if ($.fn.DataTable.isDataTable("#dbTable")) {
                $('#dbTable').DataTable().clear().destroy();
            }
            $('#dbTable').empty()

            // Append column headers
            $('#dbTable').append('<thead><tr></tr></thead>')
            for (const header of data.headers) {
                $('#dbTable thead tr').append(`<th>${header}</th>`)
            }

            // Append rows and cells
            $('#dbTable').append('<tbody></tbody>')
            for (const row of data.rows) {
                $('#dbTable tbody').append('<tr></tr>')
                for (const cell of row) {
                    $('#dbTable tbody tr:last').append(`<td>${cell}</td>`)
                }
            }

            // Re-initialize DataTable
            $('#dbTable').DataTable({
                fixedColumns: true,
                fixedHeader: true
            })
            $('#tableHeader').html(this.value)
        } else {
            console.log('Error getting table')
        }

    })



</script>
{% endblock %}